node_modules/
dist/
release/*.exe
release/*.blockmap
release/latest.yml
release/builder-debug.yml
release/win-unpacked/
release/.icon-ico/
test_screens/*.wav
test_screens/*.webm
release/__uninstaller-*
.env
*.log
.DS_Store
Thumbs.db
models/*.bin
test_screens/*.png
!test_screens/.gitkeep
